/* Default Styles */
body{
    background-color: #c6c8c7;
    margin: 20px 0;
  }
  
  .chat-button{
    border-radius: 15px;
  }
  
  .chat{
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  
  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
  }
  
  .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
  }
  
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
  }
  
  .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
  }
  
  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
  }
  
  .chat .chat-history ul {
    padding: 0;
  }
  
  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
  }
  
  .chat .chat-history ul li:last-child {
    margin-bottom: 0px;
  }
  
  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }
  
  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
  }
  
  .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
  }
  
  .chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
  }
  
  .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  
  .chat .chat-history .my-message {
    background: #efefef;
  }
  
  .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
  }
  
  .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
  }
  
  .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%;
  }
  
  .chat .chat-message {
    padding: 20px;
  }
  
  .online,
  .offline,
  .me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
  }
  
  .online {
    color: #86c541;
  }
  
  .offline {
    color: #e47297;
  }
  
  .me {
    color: #1d8ecd;
  }
  
  .float-right {
    float: right
  
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    
    
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
   
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

/* Contenedor del botón */
.button-container {
    display: flex; /* Hace que el contenedor sea un flex container */
    justify-content: flex-end; /* Alinea el botón a la derecha del contenedor */
  }
  
  /* Estilos del botón */
  button.button-anunciochat {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 20px;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 120px;
    margin-left: auto; /* Mueve el botón a la derecha */
    margin-right: 30px;
    margin-bottom: 20px;
  }

  input {
    background-color: #efefef; /* Cambiar el color de fondo a gris claro */
    color: #1A1A1A; /* Cambiar el color del texto a negro */
    border: none;
    width: 100%;
  }
  