  .right-card {
    width: 476px;
    min-height: 650px;
    background-color: #fff;
    border-radius: 20px;
    padding: 32px;
  }

  .right-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-card-body {
    margin-top: 40px;
  }
  .name-font {
    font-size: 18px;
    color: #22215b;
    font-weight: bold;
  }
  .job-font {
    font-size: 15px;
    font-weight: 300;
    color: #22215b;
  }
  .profile {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .right-card-body-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 43px;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  