div.card-anuncio {
	cursor: default;
    width: 100%;
}

img#product-image {
    position: relative;
    border: 1px solid black;
    cursor: default;
    margin: 60px;
    width: 80%;
    border-radius: 10px;
}

button.card-button {
    color: white;
    background-color: black;
    border-radius: 15px;
    width: 200px;
}

button.card-button:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
}